html {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
	font-family: sans-serif;
	color: #fff;
	background-color: #2B2B2B;
	margin: 8px;
}
::-webkit-scrollbar-track-piece{
	background-color: transparent;
	-webkit-border-radius:0;
}
::-webkit-scrollbar{
	width:8px;
	height:8px;
}
::-webkit-scrollbar-thumb{
	height: 25px;
	background-color: #1F1F1F;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #1F1F1F;
}
@font-face {
    font-family: 'IcoMoon-Free';
    src: url('IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div#pitunes {
	width: 100%;
	margin-top: 120px;
}
div#type {
	clear: both;
	text-align: center;
	width: 100%;
	line-height: 40px;
}
.button {
	line-height: 30px;
	height: 30px;
	border: 1px solid #fff;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
	color: #fff;
}
a#playAll {
	margin-top: 10px;
}
div#player {
	position: fixed;
	background-color: #2B2B2B;
	border: 1px solid #1F1F1F;
	width: 100%;
	clear: both;
	height: 60px;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 20px 10px;
}
div#player div {
	padding: 10px 0;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
	width: 90%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-inside {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
		max-width: 700px;
		max-height: 450px;
		color: #fff;
		background-color: #363636;
		border: 1px solid black;
		overflow-y: scroll;
}
div.modal div.close {
	text-align: right;
}
div#detail div.modal-content div.left {
	text-align: center;
}
div#detail div.modal-content div.right {
	max-height: 360px;
	overflow-y: scroll;
}
@media only screen and (min-width:481px) {
	div#detail div.modal-content div.left {
		float: left;
		width: 250px;
		height: 100%;
		border-right: 1px solid #fff;
	}
	div#detail div.modal-content div.right {
		float: left;
		margin-left: 25px;
	}
}
@media only screen and (max-width:480px) {
	div#detail div.modal-content div.left {
		margin-bottom: 30px;
	}
	.modal-inside {
		max-height: 700px;
	}
}
div#detail div.track {
	line-height: 25px;
	border-top: 1px solid #fff;
}
div#list {
	margin: auto;
	width: 100%;
}
div#list > div {
	text-align: center;
	width: 215px;
	height: 250px;
	margin: auto;
	float: left;
	margin: 5px 0px;
}
div.back img.cover {
	transform: scaleX(-1);
	filter: opacity(.2) grayscale(80%);
}
img.cover {
	width: 185px;
	height: 185px;
	background-color: #000;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	margin-bottom: 10px;
	background-image: url(placeholder.png);
}
div.title, div.artist {
	clear: both;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}
div.title {
	font-weight: bold;
}
div.artist {
	font-size: .9em;
}
h2 {
	color: white;
	font-size: 200%;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
div.album {
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}
.album .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	transform: rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}
.album.flip .front {
	z-index: 900;
	transform: rotateY(180deg);
}
.album .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: inherit;

	transform: rotateY(-180deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}
.album.flip .back {
	transform: rotateX(0deg) rotateY(0deg);
}
