html {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
     -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: sans-serif;
	color: #fff;
	background-color: #2B2B2B;
	margin: 0;
	border: 0;
	padding: 0;
}
::-webkit-scrollbar-track-piece{
	background-color: transparent;
	-webkit-border-radius:0;
}
::-webkit-scrollbar{
	width:8px;
	height:8px;
}
::-webkit-scrollbar-thumb{
	height: 25px;
	background-color: #1F1F1F;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #1F1F1F;
}
@font-face {
	/* https://icomoon.io/#preview-free */
    font-family: 'IcoMoon-Free';
    src: url('IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div#topbar {
	position: fixed;
	background-color: #2B2B2B;
	border: 1px solid #1F1F1F;
	width: 100%;
	clear: both;
	height: 92px;
	z-index: 1;
	top: 0;
	left: 0;
}
div#pitunes {
	width: 20%;
	min-width: 150px;
	float: left;
	height: 100px;
	text-align: center;
}
div#player {
	width: 80%;
	padding-top: 8px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
div#player div#buttons {
	float: left;
}
div#player div#nowPlayingDiv {
	padding-left: 20px;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}
div#type {
	width: 100%;
	line-height: 40px;
}
.button {
	line-height: 30px;
	height: 30px;
	border: 1px solid #fff;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
	color: #fff;
}
a#playAll {
	margin-top: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-inside {
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
		max-width: 700px;
		max-height: 450px;
		color: #fff;
		background-color: #363636;
		border: 1px solid black;
		overflow-y: scroll;
}
div.modal div.close {
	text-align: right;
}
div#detail div.modal-content > div {
	float: left;
}
div#detail div.modal-content div.left {
	text-align: center;
	width: 40%;
}
div#detail div.modal-content div.right {
	max-height: 360px;
	width: 60%;
}
/*@media only screen and (min-width:481px) {
	div#detail div.modal-content div.left {
		float: left;
		width: 240px;
		min-height: 400px;
		
	}
	div#detail div.modal-content div.right {
		float: left;
		margin-left: 25px;
	}
}
@media only screen and (max-width:480px) {
	div#detail div.modal-content div.left {
		margin-bottom: 30px;
	}
	.modal-inside {
		max-height: 700px;
	}
}*/
div#detail div.track {
	line-height: 25px;
	border-bottom: 1px solid #fff;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
  	width: 100%;
  	clear: both;
}
div#detail div.track:last-of-type {
	margin-bottom: 25px;
}
div#list {
	clear: both;
	margin: 100px 0px;
	width: 100%;
}
div#list > div {
	text-align: center;
	width: 175px;
	height: 250px;
	margin: auto;
	float: left;
	margin: 5px 10px;
}
div#moreButton {
	clear: both;
	width: 100%;
	text-align: center;
}
div.back img.cover {
	transform: scaleX(-1);
	filter: opacity(.2) grayscale(80%);
}
img.cover {
	width: 185px;
	height: 185px;
	background-color: #000;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	margin-bottom: 10px;
	background-image: url(placeholder.png);
}
div.title, div.artist {
	clear: both;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}
div.title {
	font-weight: bold;
}
div.artist {
	font-size: .9em;
}
h2 {
	color: white;
	font-size: 200%;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
div.album {
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}
.album .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	transform: rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: transform .4s ease-in-out;
}
.album.flip .front {
	z-index: 900;
	transform: rotateY(180deg);
}
.album .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: inherit;

	transform: rotateY(-180deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: transform .4s ease-in-out;
}
.album.flip .back {
	transform: rotateX(0deg) rotateY(0deg);
}
/*SLIDESHOW*/
div#slides {
	display: none;
	width: 100%;
	height: 100%;
  	background-color: #000;
  	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: center;
}
div#slides div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-color: #000;
	background-position: top center;
	background-repeat: no-repeat;
	opacity: 0;
}
.transition {
	transition: opacity 2s ease-in-out;
}
div#slides-close {
	display: none;
	position: fixed;
	height: 24px;
	top: 0;
    z-index: 11;
	font-family: 'IcoMoon-Free' !important;
	color: rgba(255,255,255,0.4);
	font-size: 24px;
	width: 24px;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	right: 0;
}
div#slides-close::before {
	content: "\ea3b";
}
div.slides-navigation {
	display: none;
	position: fixed;
	height: 48px;
	top: 50%;
    margin-top: -24px;
	z-index: 11;
	font-family: 'IcoMoon-Free' !important;
	color: rgba(255,255,255,0.4);
	font-size: 48px;
	width: 48px;
	text-align: center;
	line-height: 48px;
	text-decoration: none;
}
div.slides-navigation#next {
	right: 0;
}
div.slides-navigation#prev {
	left: 0;
}
div.slides-navigation#next::before {
	content: "\ea42";
}
div.slides-navigation#prev::before {
	content: "\ea44";
}
div#slides-pagination {
	display: none;
	bottom: 0;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 11;
	opacity: 0.4;
}
div#debug {
	display: none;
	top: 0;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 11;
}

/* settings */
#settings {
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 80%; /* Full-width */
	height: 20px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 24px; /* Set a specific slider handle width */
	height: 24px; /* Slider handle height */
	background: #fff;
}
.slider::-moz-range-thumb {
	width: 24px; /* Set a specific slider handle width */
	height: 24px; /* Slider handle height */
	background: #fff;
}
input.slider_value {
	width: 50px;
	background-color: #363636;
	border: none;
	color: white;
	font-size: 1em;
}

div#screensaver {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	text-align: center;
}