
h2 {
	color: white;
	font-size: 200%;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
div.album {
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}
.album .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	transform: rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}
.album.flip .front {
	z-index: 900;
	transform: rotateY(180deg);
}
.album .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: inherit;

	transform: rotateY(-180deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}
.album.flip .back {
	transform: rotateX(0deg) rotateY(0deg);
}
